.reservation {
  padding: 130px 0 175px 0;
  position: relative;
  &::before {
      content: "";
      position: absolute;
      background-image: url("../img/burgerLeft.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 380px;
      width: 300px;
      left: 0px;
      top: 20px;
      z-index: -2;
  }
  &::after {
    content: "";
      position: absolute;
      background-image: url("../img/burgerRight.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      height: 600px;
      width: 300px;
      right: 0px;
      bottom: -90px;
      z-index: -2;
  }
  &__subtitle {
    display: block;
    text-align: center;
    font-size: 28px;
  }
  &__title {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 90px;
  }
  &__form {
    display: flex;
    justify-content: center;
    position: relative;
  }
  &__img {
    position: absolute;
    left: 320px;
    top: -74px;
    z-index: -2;
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__input {
    display: block;
    padding: 20px;
    border: 1px solid #bebebe;
    border-radius: 4px;
    min-width: 360px;
    margin-bottom: 25px;
  }
  &__button {
    display: block;
    cursor: pointer;
    padding: 20px;
    border-radius: 4px;
    min-width: 380px;
    margin-bottom: 25px;
    background-color: #bf2222;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: 1px;
  }
}
